body {
	background-image: url('img/carretera.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#map {
	height: 100vh;
	width: 100vw;
}

html, body, div, iframe { margin:0; padding:0; height:100%; }
    iframe { display:block; width:100%; border:none; }

#pagina1{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}


#pagina2{
	display: none;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

#pagina3{
	display: none;
}

.btn{
	font-size: 5rem;
}

@media (max-width: 767px){
	.btn{
		font-size: 20rem;
	}
}